{% extends "../layouts/main.html" %}

{% block nav %}
  {% set active_tab = 'buffer-cache' %}
{% end %}

{% block content %}
  <ul class="breadcrumb">
    <li><a href="/buffer-cache">Server</a><span class="divider">/</span></li>
    <li class="active">{{ database_name }}</li>
  </ul>

  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tables" data-toggle="tab">Tables</a></li>
      <li><a href="#toast" data-toggle="tab">TOAST</a></li>
      <li><a href="#indexes" data-toggle="tab">Indexes</a></li>
      <li><a href="#sequences" data-toggle="tab">Sequences</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tables">
        <table class="table table-sorted">
          <thead>
            <tr>
              <th>Table</th>
              <th>Heap Cache Ratio</th>
              <th>Heap Cache Reads</th>
              <th>Heap Disk Reads</th>
              <th>Index Cache Ratio</th>
              <th>Index Cache Reads</th>
              <th>Index Disk Reads</th>
            </tr>
          </thead>
          <tbody>
            {% for table in tables %}
              <tr>
                <td>{{ table.schemaname }}.{{ table.relname }}</td>
                <td>{{ percent(table.heap_blks_hit, table.heap_blks_accessed) }}</td>
                <td>{{ table.heap_blks_hit }}</td>
                <td>{{ table.heap_blks_read }}</td>
                <td>{{ percent(table.idx_blks_hit, table.idx_blks_accessed) }}</td>
                <td> {{ table.idx_blks_hit }}</td>
                <td>{{ table.idx_blks_read }}</td>
              </tr>
            {% end %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="toast">
        <table class="table table-sorted">
          <thead>
            <tr>
              <th>Table</th>
              <th>Heap Cache Ratio</th>
              <th>Heap Cache Reads</th>
              <th>Heap Disk Reads</th>
              <th>Index Cache Ratio</th>
              <th>Index Cache Reads</th>
              <th>Index Disk Reads</th>
            </tr>
          </thead>
          <tbody>
            {% for table in tables %}
              <tr>
                <td>{{ table.schemaname }}.{{ table.relname }}</td>
                <td>{{ percent(table.toast_blks_hit, table.toast_blks_accessed) }}</td>
                <td>{{ table.toast_blks_hit }}</td>
                <td>{{ table.toast_blks_read }}</td>
                <td>{{ percent(table.tidx_blks_hit, table.tidx_blks_accessed) }}</td>
                <td> {{ table.tidx_blks_hit }}</td>
                <td>{{ table.tidx_blks_read }}</td>
              </tr>
            {% end %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="indexes">
        <table class="table table-sorted">
          <thead>
            <tr>
              <th>Table</th>
              <th>Name</th>
              <th>Cache Ratio</th>
              <th>Cache Reads</th>
              <th>Disk Reads</th>
            </tr>
          </thead>
          <tbody>
            {% for index in indexes %}
              <tr>
                <td>{{ index.schemaname }}.{{ index.relname }}</td>
                <td>{{ index.indexrelname }}</td>
                <td>{{ percent(index.idx_blks_hit, index.idx_blks_accessed) }}</td>
                <td>{{ index.idx_blks_hit }}</td>
                <td>{{ index.idx_blks_read }}</td>
              </tr>
            {% end %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="sequences">
        <table class="table table-sorted">
          <thead>
            <tr>
              <th>Name</th>
              <th>Cache Ratio</th>
              <th>Cache Reads</th>
              <th>Disk Reads</th>
            </tr>
          </thead>
          <tbody>
            {% for sequence in sequences %}
              <tr>
                <td>{{ sequence.relname }}</td>
                <td>{{ percent(sequence.blks_hit, sequence.blks_accessed) }}</td>
                <td>{{ sequence.blks_hit }}</td>
                <td>{{ sequence.blks_read }}</td>
              </tr>
            {% end %}
          </tbody>
        </table>

      </div>
    </div>
  </div>



{% end %}
